body {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    background-color: white;
    color: black;
}

@media (prefers-color-scheme: dark) {
    body {    
        background-color: #D3D3D3;
        color: #ffffff;
    }
}

.rainbow-text {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-weight: bold;
    animation: rainbow 2s linear infinite;
    text-align: center;
}

@keyframes rainbow {
    0% {
        color: red;
    }
    14% {
        color: orange;
    }
    28% {
        color: yellow;
    }
    42% {
        color: green;
    }
    57% {
        color: blue;
    }
    71% {
        color: indigo;
    }
    85% {
        color: violet;
    }
    100% {
        color: red;
    }
}

.header-image {
    width: 100%;
    height: auto;
}

.normal-text {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: inherit;
    text-align: center;
    list-style: none;
    padding: 0;
}